
input, button {
    margin: 0 4px;
    border-radius: 5px;
}

.row.no-gutters {
    margin: 20px 0;
}

.col, .col-md-12 {
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0 15px;
}

li {
    background-color: #c1f0fa;
    font-size: 28px;
    text-align: start;
    position: relative;
}

input[type=checkbox] {
    visibility: hidden;
}

p.item-title {
    margin-left: 40px;
    width: calc(100% - 80px);
}

.checkbox-styled {
    width: 25px;
    margin: 0 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    display: inline-block;
}

.checkbox-styled label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}

.checkbox-styled label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 12px;
    height: 8px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.checkbox-styled label:hover::after {
    opacity: 0.5;
}

.checkbox-styled input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon.star {
    left: -40px;
    transform: translateY(-55%)
}

.icon.remove {
    right: 4px;
  }