li {
  align-items: center;
  display: flex;
  margin: 4px;
  background-color: lightgray;
  font-family: 'Lato', sans-serif;
  padding: 2px;
  font-size: 17px;
}

li:hover {
  box-shadow: 1px 1px 9px -3px rgb(120, 120, 148);
}

input,
button {
  margin: 10px;
}

.creation {
  margin-left: auto;
  font-size: 16px;
}

.due-date {
  margin-left: 5%;
}

.delete {
  margin: 0px 5px;
  width: 20px;
  height: 20px;
}

.checked {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}

.star {
  background-image: url("../../images/star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  margin-left: 5px;
}

.starred {
  background-image: url("../../images/star-selected.svg");
}
