body {
  background-color: rgb(219, 226, 226);
  font-family: 'Lato', sans-serif;
}

.container {
  text-align: center;
}

.title {
  margin: 15px;
  margin-top: 0;
}

#logo {
  width: 55px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

input[type="date"] {
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #e6ebec;
  color: #95a5a6;
  text-align: center
}


.todo-title,
.done-title {
  color: #32BA7C;
  font-family: 'Lato', sans-serif;
  margin: 10px 0px;
  text-decoration: underline;
  font-size: 27px;
}

.todo-title{
  color:#3DB39E;
}

.headline {
  font-weight: bold;
  font-size: 47px;
  margin-top: 10px;
  text-align: start;
  color:#556080;
}

#input {
  width: 50%;
  border: none;
  background: none;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.input:focus {
  border-bottom: 2px solid rgb(51, 184, 10);
  outline: none;
}

.btn {
  margin: 5px;
  background-color: rgb(121, 235, 121);
  color:gray;
}

.btn:hover {
  box-shadow: 1px 1px 9px -3px rgb(120, 120, 148);
  color:black;
  outline:none;
}
