@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Anton&display=swap);

.helptext,
label {
  display: none;
}

body {
  /* background: rgb(198, 206, 206); */
  background: linear-gradient(to right, rgb(147, 243, 184) 0%, rgb(151, 247, 187) 97%, rgb(119, 241, 172) 100%);
  /* background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%); */
  /* background: linear-gradient(to left, #00ffff, #8dc26f); */
  font-family: "Roboto", sans-serif;
}

.title {
  margin-bottom: 20px
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background: rgb(131, 199, 122); */
  /* background: #329fe7;  */
  background: #4CAF50;
  /* background:rgba(117,189,209,1); */
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(49, 150, 52);
}

.message {
  text-align: center;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
}

.form .message a {
  color: #329fe7;
  text-decoration: none;
  font-size: 14px;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}

.social-logos {
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.social-logos img {
  width: 50px;
}

form {
  text-align: left;
}
