.container-fluid {
    /* text-align: center; */
    background-color: #BAE1FF;
    padding: 0;
}

.form-container {
    text-align: center;
}

.title {
    /* border: 1px black solid; */
    background: #c3c3f7;
    color: white;
    padding: 10px 0 10px 12px;

}