.logout-btn {
  padding: 12px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 10%;
  position: absolute;
  top: 5px;
  right: 15px;
  color: #556080;
  font-weight: bold;
}

.logout-btn:hover {
  box-shadow: 1px 1px 9px -3px rgb(120, 120, 148);
  outline: none;
}

#hellouser {
  font-size: 20px;
  margin: 5px;
  text-align: start;
  color: #556080;
  margin-left: 40px;
}