@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');



* {
  font-family: 'Barriecito', cursive;
}

html {
  background-color: #f8f8f8;
  /* background-color: red; */
}

body {
  width: 100%;
}
